.guest-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px; /* 行間の余白を追加 */
}

.square-button {
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square-button:hover {
  background-color: darkcyan;
}

.square-button.selected {
  background-color: orange; /* 選択されたボタンの色 */
  color: white;
}
.row-text {
  margin-bottom: 30px; /* テキストとボタン間の余白を追加 */
  font-size: 3.0rem;
}